@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-light-800 leading-none text-dark-950 dark:bg-dark-900 dark:text-light-950;

  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
}

main {
  @apply m-4 flex flex-col items-center justify-center gap-4;
  height: calc(100vh - 2rem);
}

footer {
  @apply grid h-[150px] w-full items-center justify-center gap-2 bg-light-700 p-4 dark:bg-dark-700 sm:justify-normal lg:px-20;

  grid-template-areas: 'middle' 'start' 'end';
}

@media (min-width: 640px) {
  footer {
    grid-template-areas: 'start middle end';
    grid-template-columns: repeat(3, 1fr);
  }
}

footer > div {
  @apply flex justify-center;
  grid-area: middle;
}

footer > div:first-child {
  @apply sm:justify-start;
  grid-area: start;
}

footer > div:last-child {
  @apply sm:justify-end;
  grid-area: end;
}

input,
button {
  @apply h-[48px] whitespace-nowrap rounded-lg border-none px-4 shadow-lg outline-none transition-shadow duration-150 ease-in-out;
  /* for some reason something (probably tailwind) is applying background-color: transparent to buttons */
  @apply !bg-white dark:!bg-dark-600;

  box-shadow:
    var(--tw-shadow),
    0 0 0 transparent;
}

input:focus-visible,
button:focus-visible {
  @apply outline-none;
}

.dark input:hover,
.dark input:focus,
.dark button:hover,
.dark button:focus {
  box-shadow:
    var(--tw-shadow),
    0 0 5px #cc223e;
}

.light input:hover,
.light input:focus,
.light button:hover,
.light button:focus {
  box-shadow:
    var(--tw-shadow),
    0 0 5px #ff2b4e;
}

h1 {
  @apply text-2xl lg:text-2xl;
}

input {
  @apply w-full text-xl;
}

button,
img {
  @apply select-none;
}

a {
  @apply text-[#cc223e] no-underline transition-colors hover:text-[#ff2b4e] dark:hover:text-[#991a2f];
}

a:focus-visible,
#theme-toggle label:has(input:focus-visible) {
  @apply rounded-sm outline outline-2 outline-offset-2 outline-blue-500;
}

#upper {
  @apply flex flex-col gap-4 transition-transform duration-200;
}

#upper.move {
  transform: translateY(-150px);
}

#the-box {
  @apply relative -top-[150px] flex flex-col items-center gap-6 rounded-xl bg-white p-6 opacity-100 shadow-xl dark:bg-dark-600 sm:flex-row lg:w-[600px];
}

#the-box.visible {
  animation: box 300ms;
}

@keyframes box {
  0% {
    @apply opacity-0;
  }
  30% {
    @apply opacity-0;
  }
  100% {
    @apply opacity-100;
  }
}

/* theme toggle */

#theme-toggle {
  @apply grid items-center gap-x-2 gap-y-1;

  grid-template-areas:
    '. a .'
    'l s d';
}

#theme-toggle > #auto {
  grid-area: a;
}

#theme-toggle > #light {
  grid-area: l;
}

#theme-toggle > .slider {
  grid-area: s;
}

#theme-toggle > #dark {
  grid-area: d;
}

#theme-toggle > .buttons {
  @apply relative z-10 flex h-4 items-center gap-8;
}

#theme-toggle input {
  @apply absolute inset-0 block h-full w-full cursor-pointer opacity-0;
}

#theme-toggle #auto input::after {
  @apply absolute left-1/2 z-[100] h-5 w-[16px];

  top: calc(100% + 0.25rem);
  content: '';
  transform: translateX(-50%);
}

#theme-toggle #light input::after,
#theme-toggle #dark input::after {
  @apply -top-0.5 w-[25px];
}

#theme-toggle #light input::after {
  @apply left-full;
}

#theme-toggle #dark input::after {
  @apply right-full;
}

#theme-toggle input::after {
  @apply absolute z-10 h-5;

  content: '';
}

#theme-toggle input::after:hover {
  @apply cursor-pointer;
}

#theme-toggle label {
  @apply relative inline-flex justify-center;
}

#theme-toggle label span {
  @apply cursor-pointer select-none text-xs font-bold uppercase opacity-65;

  transition: opacity 150ms ease-in-out;
}

#theme-toggle label::after {
  @apply absolute -bottom-1.5 -left-2 -right-2 -top-1.5 z-[101] cursor-pointer;
  content: '';
}

#theme-toggle #auto::after {
  bottom: -1.75rem;
}

#theme-toggle #light::after {
  right: -1.75rem;
}

#theme-toggle #dark::after {
  left: -1.75rem;
}

.dark #theme-toggle #dark span,
.auto #theme-toggle #auto span,
.light #theme-toggle #light span {
  @apply opacity-100;
}

.auto #theme-toggle #dark span,
.auto #theme-toggle #light span {
  @apply opacity-65;
}

#theme-toggle .slider {
  @apply relative;
  pointer-events: none;
}

.slider > .track {
  @apply h-5 w-[3.2rem] rounded-full bg-light-950 shadow-inner dark:bg-dark-200;
}

.slider > .thumb {
  @apply absolute bottom-0.5 left-1/2 top-0.5 h-4 w-4 rounded-full bg-white duration-300 ease-in-out dark:bg-light-900;

  transform: translateX(0);
  transition: transform 150ms ease-in-out;
}

.light #theme-toggle .thumb {
  transform: translateX(-145%);
}

.dark #theme-toggle .thumb {
  transform: translateX(45%);
}

.auto #theme-toggle .thumb {
  transform: translateX(-50%);
}

/* tooltips */

[data-tooltip] {
  @apply relative;
}

[data-tooltip]:hover::after {
  @apply absolute bottom-full left-1/2 mb-1 whitespace-nowrap rounded-lg bg-white p-2 text-black shadow-md dark:bg-dark-300 dark:text-white;

  content: attr(data-tooltip);
  transform: translateX(-1/2);

  animation: fade-in 150ms ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
